h1 {
            color:burlywood;
            background-color:darkolivegreen;
            font-size:xx-large;
            font-style: italic;
            text-align: center;
            text-decoration:overline
        }.
        
        body {
            background-color: lightblue;
            font-size: larger;
            text-decoration: wavy;

        }
        table{
            text-decoration: dotted;
            font-style: italic;
            background-color: cornsilk;
        }
   
div {
  background-color: pink;
  width: 300px;
  border: 15px solid yellow;
  padding: 50px;
  margin: 20px;

}
body {
    background-color: rgb(115, 255, 255);
}