#container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(198, 212, 216);
    border-radius: 10px;
    padding: 1%;
    width: 500px;
}
#red{
background-color: rgb(236, 61, 61);
color: white;
margin: 10px;
width: 60px;
padding: 1%;
border-radius: 7px;
}
#green{
    background-color: rgb(79, 236, 79);
  color:rgb(14, 13, 13);
  margin: 10px;
  width: 60px;
  padding: 1%;
  border-radius: 7px;
}
#blue{
    background-color: rgb(70, 70, 245);
    color: white;
    margin: 10px;
    width: 60px;
    padding: 1%;
    border-radius: 7px;
}
#yellow{
    background-color: rgb(235, 235, 59);
    color: black;
    margin: 10px;
    width: 60px;
    padding: 1%;
    border-radius: 7px;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
}